<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="test">Test</a></li>
        <li><a href="{{ path('serie_list') }}" title="All series">All Series</a></li>
        <li><a href="{{ path('serie_create') }}" title="Create">Create</a></li>
    </ul>
</nav>